factoryData/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "GetDataFromProcedure",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[datafactory].[MockProcedure]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "GenericSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "datafactory",
							"TableName": "byCategorySummery",
							"LoadTime": "@formatDateTime(utcnow())"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[datafactory].[MockProcedure]"
				},
				"linkedServiceName": {
					"referenceName": "DataFactoryDatalake",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEachConditional",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetDataFromProcedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "dataflow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"year_id": {
											"value": "@item().c1",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sink1": {
											"fileSystem": "stage",
											"pathToDir": "JoinPivotTable"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "ToSingleFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEachConditional",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GenericCSVFile",
						"type": "DatasetReference",
						"parameters": {
							"fileSystem": "stage",
							"pathToDir": "JoinPivotTable"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "GenericCSVFile",
						"type": "DatasetReference",
						"parameters": {
							"fileSystem": "stage",
							"pathToDir": "SingleFIles"
						}
					}
				]
			}
		],
		"annotations": []
	}
}